<div class="row col-lg-8 col-md-8 col-sm-12">
    @foreach (WebAPI.Controllers.ControllerModel controller in ViewBag.controllers)
    {
        <div class="col-md-4 col-lg-4">
            <h3>
                Controller:
                @controller.Name
            </h3>

            <ul>
                @foreach (WebAPI.Controllers.MethodModel method in controller.Methods)
                {
                    <li>
                        @method.Name
                        (

                        @foreach (WebAPI.Controllers.ParameterModel parameter in method.Params)
                        {
                            <span>
                                @parameter.Name
                                :
                                @parameter.Type
                            </span>
                            if (parameter != method.Params.Last())
                            {
                                <span>,</span>
                            }
                        }
                        )
                    </li>
                }
            </ul>
        </div>
    }
</div>