<ul>
    @foreach (WebAPI.Controllers.ControllerModel controller in ViewBag.controllers)
    {
        <li>@controller.Name
            <table>
                @foreach(WebAPI.Controllers.MethodModel method in controller.Methods)
                {
                    <tr>
                        <td>@method.Name
                        </td>
                        @foreach(string parameter in method.Params)
                        {
                            <td>@parameter
                            </td>
                        }
                    </tr>
                }
            </table>
        </li>
    }
</ul>